@model Norma.Web.Models.NormaVM

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Eliminación de normas</a></li>
        </ol>
    </div>

    <font color="blue" face="Book antiqua,arial">
        <h1>ELIMINAR</h1>
    </font>

        <h3>ESTÁS SEGURO QUE DESEAS ELMINAR LA NORMA?</h3>
        <div>
            <h4>NORMA</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NormaID)
                </dt>
                <dd class="col-sm-10">
                    @Html.TextBoxFor(model => model.NormaID,new { @class = "col-md-8 from control", disabled = "disabled" })
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Clave)
                </dt>
                <dd class="col-sm-10">
                    @Html.TextBoxFor(model => model.Clave, new { @class = "col-md-8 from control", disabled = "disabled" })
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "col-md-8 from control", disabled = "disabled" })
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaPublicacion)
                </dt>
                <dd class="col-sm-10">
                    @Html.TextBoxFor(model => model.FechaPublicacion, new { @class = "col-md-8 from control", disabled = "disabled" })
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Activo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Activo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TipoRequisitoId)
                </dt>
                <dd class="col-sm-10">
                    @Html.TextBoxFor(model => model.Requisito.Descripcion, new { @class = "col-md-8 from control", disabled = "disabled" })
                </dd>
            </dl>

            @*<form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>*@

            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                ELIMINAR
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Estas Seguro de Eliminar el REGISTRO</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            ...
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">

                            <form asp-action="Delete">
                                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                                <a asp-action="Index">Regresar a la Lista</a>
                            </form>

                        </div>

                    </div>
                </div>
            </div>


        </div>
</div>
